.sgoMs7 {
    box-shadow: 0 6px 6px rgba(0,0,0,.06);
    height: 84px;
}
.JjfqZT {
    margin: 0 auto;
    width: 1200px;
    justify-content: space-between;
}
.I6FFfq, .JjfqZT, .LdlyWh, .sgoMs7 {
    align-items: center;
    display: flex;
}
.navbar-brand{
    font-size: 2.4rem;
}
.navbar-brand-text {
    color: var(--clr-orange);
}