.awPXwj {
    text-transform: uppercase;
}

.NleHE1 {
    padding-bottom: 14px;
}
.NleHE1, .SR5mQ0, .TYsRUL {
    display: flex;
}
.NleHE1, .TYsRUL {
    align-items: center;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx){
    .rEVZJ2 {
        height: .5px;
    }
}

.rEVZJ2 {
    background-color: #dbdbdb;
    flex: 1;
    height: 1px;
    width: 100%;
}
.EMof35 {
    color: #ccc;
    font-size: .75rem;
    padding: 0 16px;
    text-transform: uppercase;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx){
    .rEVZJ2 {
        height: .5px;
    }
}

.rEVZJ2 {
    background-color: #dbdbdb;
    flex: 1;
    height: 1px;
    width: 100%;
}
.SR5mQ0 {
    display: flex;
    margin: 0 -5px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.eADVqX {
    flex: 1;
    margin: 5px;
}
.KIySnv {
    padding-right: 8px;
}
.b7kM6N {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .26);
    border-radius: 2px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, .87);
    font-size: 1.2rem;
    height: 40px;
    outline: none;
    padding: 0 2px;
    width: 100%;
}
.b7kM6N, .zwXUkg {
    align-items: center;
    display: flex;
    justify-content: center;
}

.zwXUkg {
    border-radius: 1px;
    height: 36px;
    width: 36px;
}
.btn_icon {
    margin-top: 2px;
}